body {
  background: gray);
  text-align: center;
}
p {
  color: blue;
  font-family: Times New Roman;
}
h1 {
  color: green;
  font-family: Times New Roman;
}
ul {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    background: lightgray;
    text-align: left;
  }
}

	